*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

